<h1 class="lower">Comments</h1>

<p>&nbsp;</p>
<% for comment in @comments %>
<div class="infoBox">
<h3><%= comment.title %></h3>
<strong>Posted <%=distance_of_time_in_words_to_now(h comment.created_at)%> ago</strong><br/>
<p><%= comment.comment %></p>
</div>
<% end %>
