<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Important notice!</h1>
    <p>
      Thanks for your email submission to BlogNog Research.com.   Unfortunately there seems to have been a problem...
      We can't seem to find a User ID that matches the name you submitted.  Sorry about that...
    </p>

    <p>Please try again.  Be sure to include your username in the subject line.</p>
  </body>
</html>
