<h1 class="lower">Reorder questions/comments</h1>
<br/>
<p>Simply drag and drop the items into the desired order... </p>
<br/>
<div style="display:inline-block;width:400px;">
<ul id="sortables" style="list-style:none">
  <% for comment in @comments %>

  <% content_tag_for :li, comment do %>
  <% outgoing = comment.comment.gsub(/<\/?[^>]*>/,  "") %>
  <span class="commenthandle" >
    <span ><%= outgoing[0,50] %>...</span>
  </span>
  <% end %>

  <% end %>

</ul>
  <p>
<% @discussion = Discussion.find(params[:id]) %>
  <%= link_to("All Done!", :controller => 'assignment', :action => 'show', :id => "#{@discussion.project_id}" )%>
  </p>
</div>
<%= sortable_element("sortables", :url => reorder_comments_path, :handle => "commenthandle") %>
