 
<h2>Upload a new photo</h2>
  <%= error_messages_for :image %>
 
  <% form_for(:image,  :url => {:controller => 'user_images', :action => 'create' },
      :html => { :multipart => true }) do |f| %>
 
  Select a photo to upload<br/>
  Photo: <%= f.file_field 'uploaded_data' %>
  <%= submit_tag 'Upload Photo' %>
<% end %>