<h4>Your Assignments:</h4>
<% for assignment in @your_assignments %>
	<% assignment_detail = Assignment.find(:last, :conditions => {:id => assignment.id}, :limit => 1) %>
	<% if !assignment_detail %>
	<% else %>
	<%= link_to assignment_detail.title, {:controller => 'assignment', :action => 'show', :id => assignment.id }%><br/>
	<% end %>
<% end %>