<h1 class="lower">Your Assignments:</h1>
<p>&nbsp;</p>
<% for assignment in @your_assignments %>
	<% if assignment %>
	<% assignment_detail = Project.find(:last, :conditions => {:id => assignment.project_id}, :limit => 1) %>
	<% if !assignment_detail %>
	<% else %>
	<%= link_to assignment_detail.title, {:controller => 'assignment', :action => 'show', :id => assignment.project_id }%><br/>
	<% end %>
	<% end %>
<% end %>