.copyright {
	float:right;
	display:inline;
	margin-right:30px;
	line-height:55px;
	color:#4491c3;
        text-align:right;
}

.discussionLinks {
    position:relative;
    margin-top:20px;
}

.discussionLinks legend {
    position:absolute;
    top: -.5em;
    left: .2em;
    margin-bottom:40px;
    background-color:#f2f2f2;

}

.discussionLinks a {
    line-height:30px;
    margin-left:15px;
}

.discussionText {
    position:relative;
    margin-top:20px;
    border-top:none;
}

.discussionText legend {
    position:absolute;
    top: -.5em;
    left: .2em;
    margin-bottom:40px;
    background-color:#f2f2f2;

}

.discussionText a {
    line-height:30px;
    margin-left:15px;
}

.y-label {
  /* rotate -90 deg, not sure if a negative number is supported so I used 270 */
  -moz-transform: rotate(270deg);
  -moz-transform-origin: 50% 50%;
  -webkit-transform: rotate(270deg);
  -webkit-transform-origin: 50% 50%;
  /* IE support too convoluted for the time I've got on my hands... */
  display:block;
  float:right;
  margin-top:150px;
  margin-right:10px;
}

.x-label    {float:right;width:640px;display:block;clear:both;margin-top:10px;text-align:center;}