
<h1 class="lower">Your Projects and Assignments</h1>

<% for project in @projects %>
<p>Project: <%= project.title %></p>
	<% assignment_detail = Assignment.find(:last, :conditions => {:project_id => project.id}, :limit => 1) %>
	<% if !assignment_detail %>
	<% else %>
	&gt;&nbsp;&nbsp;<%= link_to assignment_detail.title, {:controller => 'assignment', :action => 'show', :id => assignment_detail.id }%><br/>
	<% end %>
<% end %>