
<%# not currently in use %>

<%
unless params[:sort] == "by_user"
            @latest_postings_redux = Comment.find(:all, :conditions => {:discussion_id => cookies[:discussion_id] }, :order => "user_id ASC, id DESC", :include => :user)
          else
            @latest_postings_redux = Comment.find(:all, :conditions => {:discussion_id => cookies[:discussion_id] }, :order => "id DESC", :include => :user)
          end

            for comment in @latest_postings_redux

                out = "<div class='clientSubComment' id='commentSub#{comment.id}'><a name='##{comment.id}'></a>"
    out = out + "<div class='subCommentAvatar'>"
    out = out + render_avatar(comment.user)
    out = out + "</div>"

    out = out + "<div class='clientSubCommentText' >"
		out = out + "<p>"

		out = out + "<strong>"
    out = out + comment.user.name
    out = out + "</strong> "
		out = out + comment.comment
		if comment.photo_content_type
      if comment.photo_content_type =~ /image.*/
        #out = out + "<a href='#{comment.photo.url}' class='MagicThumb' rel='buttons:hide' target='_blank' >"
        out = out + "<a href='#{comment.photo.url}' target='_blank' >"
        out = out + image_tag(comment.photo.url(:thumb), :style => 'margin-left:1px;')
        out = out + "<span>&nbsp;</span>"
        out = out + "</a>"
      else
        out = out + "<p><a href='{#{comment.photo.url}' target='_blank'>View attached file here.</a>"
        out = out + image_tag("download.png")
        out = out + "</p>"
      end
		end
		out = out + "<br/>"

		out = out + "<span>- Posted "
    out = out + time_ago_in_words(comment.created_at)
    out = out + " ago </span>"


		out = out + "<div id='subCommentForm#{comment.id}'></div>"
		out = out + "<div id='reclaimer#{comment.id}'></div>"
		@replies = Replies.find(:all, :conditions => { :comment_id => comment.id}, :order => "id DESC", :include => :user)
		for replies in @replies
      displayflag = true
      if cookies[:filter] == "yes"
        displayflag = false
        cookies.to_hash.each_pair do |k, v|
          if cookies[k.to_sym].split('_')[0] == "field"
            #puts cookies[k.to_sym]
            #puts k
            if replies.user.send(cookies[k.to_sym]) == k
              displayflag = true
            end
          end
        end
      end

      if displayflag
        out = out + render_reply(replies)
      end
		end
		out = out + "<div id='#{dom_id(comment)}'>"
		out = out + "</div>"
		out = out + "</div>"
		out = out + "<hr noshade='noshade'/>"
    out = out + "</div>"

          end

%>

<%= out  %>