<%#= include_yui_editor_if_used %>
<div id="subCommentForm">
<% remote_form_for :reply,
:update => "subCommentForm",
:complete => "new Effect.Highlight('subCommentForm#{params[:id]}', { duration: .5 })",
:url =>{:controller => 'replies', :action => 'create' } do |f| -%>

<%= f.text_area :content, :size => "50 x 5", :onfocus => "this.value='';", :class => "rich_text_editor" %><br/>

<div class="postButton">
  <%= submit_tag "Post Response", :style => "margin-right:50px;" %>
</div>

<%= f.hidden_field :comment_id, :value => params[:id] %>

<%= f.hidden_field :user_id, :value => self.current_user.id %>

<% end -%>

</div>