  <!-- Start Discussion Topic links -->
  <% talk_count = Discussion.count(:all, :conditions => {:project_id => params[:project_id]}) %>
  <%if talk_count > 1 %>
  <fieldset class="discussionLinks">
    <legend>Jump to discussion topic:</legend>
    <p>&nbsp;</p>
  <% for discussion in discussions %>
  <p><%= link_to discussion.title,
    {:controller => "discussion", :id => discussion.id, :action => 'show', :project_id => discussion.project_id, :sort => params[:sort]},
    :class => 'discussion_links'%></p>
  <% end %>
  </fieldset>
  <% end  %>

  <!-- End Discussion Topic links -->
