<h4>Your Comments</h4>
<div id="responses">
<% for comments in @mycomments %>

	<div class="clientSubComment">
      <div class="subCommentAvatar">
      		<% if self.current_user.avatar_file_name %>
			<%= image_tag self.current_user.avatar.url(:thumb) %>
			<% end %>
      </div>
      <div class="clientSubCommentText">
    <%=comments.comment %> <span>- Posted <%=time_ago_in_words(comments.created_at) %> ago</span></div>
</div>
<% end %>
</div>