<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>blognog Research</title>
<%= stylesheet_link_tag 'start'%>
<!--[if IE 6]>
<script src="png_fix.js"></script>
<script>
  DD_belatedPNG.fix('#logo');
</script>
<![endif]-->
<script type="text/javascript">
	function openWindow(page,w,h,myWindow) {
		leftPosition = (screen.width) ? (screen.width-w)/2 : 0;
		topPosition = (screen.height) ? (screen.height-h)/2 : 0;
		windowSettings = 'height='+h+',width='+w+',top='+topPosition+',left='+leftPosition;
		window.open(page,myWindow,windowSettings);
	}
</script>
<script type="text/javascript" src="http://www.formspring.com/forms/js/2/yui.js">
</script>
<script type="text/javascript" src="http://www.formspring.com/forms/js/2/scripts.js">
</script>
</head>
<body>
<div id="bannerContainer">
  <div id="banner"><a href="" title="blognog Research"><img src="images/logo.png" alt="blognog Research" id="logo" /></a><img src="images/bg-bannerMain.jpg" alt="Power from the People" name="bannerImage" id="bannerImage" />
    <a href="https://www.blognogresearch.com/login"><img src="images/btn-login.gif" alt="Login" id="bannerLoginBtn" /></a>
    <%#= link_to image_tag("btn-login.gif", :url => 'login', :id =>"bannerLoginBtn")  %>
  </div>
</div>
<div id="contentContainer">
  <div id="contentTop">
    <div id="topLeft">
      <h1>What is <br />
        <span>BlogNog?</span></h1>
      <p>BlogNog&trade; is a qualitative research platform which helps organizations to connect with their customers or employees.  BlogNog&trade; is used to uncover people's feelings and experiences with the products and services they purchase or the jobs and careers they have.  It is an online platform for people to express their innermost feelings, attitudes, and opinions about their relationships with different organizations and describe their real-life experiences.  It provides a looking-glass into the hearts and minds of people and enables us to walk in their shoes and understand their perspectives.</p>
    </div>
    <div id="topCenter">
      <p><a href="javascript: openWindow('images/img-center_lg.jpg','890','800','myWindow');"><img src="images/img-center.jpg" alt="" /></a></p>
      <p style="text-align:center;"><em><br />
      Click image to enlarge</em></p>
    </div>
    <div id="topRight">
      <h1>Who uses <br />
        <span>BlogNog?</span></h1>
      <p>BlogNog&trade; is used by anyone and everyone. Those who want to deeply understand people's thoughts, attitudes, and actions include: </p>
      <ul>
        <li> Corporate-side Researchers</li>
        <li> Advertising, Public Relations, and Brand Agencies</li>
        <li> Employers</li>
        <li> Qualitative research specialists</li>
        <li> Research companies in marketing or human resources</li>
        <li> Marketing and Management Consultants</li>
      </ul>
      <div id="brochureAcrobat">
      <a href="PDF/BlogNog Research.pdf" target="_blank"><img src="images/btn-downloadBrochure.gif" alt="Download Brochure" /></a><br />
      <a href="http://get.adobe.com/reader/" target="_blank"><img src="images/btn-getAcrobat.gif" alt="Get Acrobat Reader" /></a></div>
    </div>
  </div>
  <div id="contentDivider"></div>
  <div id="contentBottomContainer">
    <div id="contentBottom">
      <div id="bottomLeft">
        <h1>Where did <br /><span>
          BlogNog</span> come from?</h1>
        <p>BlogNog&trade; is the brainchild of Accelerant Research, a full service marketing research and consulting agency. The principals of Accelerant Research have spent their entire careers in marketing and HR research and have conducted hundreds of research studies in several different roles in many different industries. These researchers developed BlogNog&trade; which leverages blogging and social networking behavior with in-depth studies such as ethnographies and discussion forums/communities.</p>
        <div id="bottomLogos" ><a href="#"><img src="images/logo-BN.gif" alt="blognog research" /></a><a href="http://www.accelerantresearch.com" target="_blank"><img src="images/logo-AR.gif" alt="Accelerant Research" /></a></div>
      </div>
      <div id="bottomCenter"></div>
      <div id="bottomRight">
        <h1>Schedule a Live<br />
          <span>BlogNog</span> DEMO</h1>
          <form method="post" enctype="multipart/form-data" action="http://www.formspring.com/forms/index.php" class="fsForm fsSingleColumn" id="fsForm733053" name="fsForm733053">
          <input type="hidden" name="form" value="733053" />
          <input type="hidden" name="viewkey" value="b0N67qvKyP" />
          <input type="hidden" name="hidden_fields" id="hidden_fields733053" value="" />
          <input type="hidden" name="_submit" value="1" />
          <input type="hidden" name="incomplete" id="incomplete733053" value="" />
          <label class="formStyle">NAME*: </label><input type="text" id="field7373910" name="field7373910" class="fsField fsRequired" /><br />
          <label class="formStyle">COMPANY: </label><input type="text" id="field7373911" name="field7373911" class="fsField" /><br />
          <label class="formStyle">ADDRESS: </label><input type="text" id="field7373913" name="field7373913" class="fsField" /><br />
          <label class="formStyle">CITY: </label><input type="text" id="field7373914" name="field7373914" class="fsField" /><br />
          <label class="formStyle">STATE: </label><input type="text" id="field7373915" name="field7373915" class="state" /><br />
          <label class="formStyle">ZIP: </label><input type="text" id="field7373917" name="field7373917" class="zip" /><br />
          <label class="formStyle">EMAIL*: </label><input type="text" id="field7373918" name="field7373918" class="fsField fsFormatEmail fsRequired" /><br />
          <label class="formStyle">PHONE: </label><input type="text" id="field7373920" name="field7373920" class="fsField fsFormatPhoneUS" /><br />
          <input type="image" src="images/btn-submitRequest.gif" id="fsSubmitButton733053" class="fsSubmitButton" onclick="form733053.submitForm(); return false;" />
          <script type="text/javascript">
//<![CDATA[
      <!--

      var form733053;
      var form733053Load = function() {

        form733053 = new FSForm(733053);


        form733053.logicFields = [];


        form733053.calcFields = [];

        form733053.lastPage = 1;

        form733053.init();

      };

      var oldonload733053 = window.onload;
      window.onload = typeof window.onload == 'function' ?
        function() { oldonload733053(); form733053Load(); } :
        window.onload = form733053Load;

      //-->
      //]]>
      </script>
          </form>
          <img src="https://www.formspring.com/forms/count.php?733053" alt="Form View Counter" width="1" height="1" border="0" />
          <div id="requiredFieldsError" style="display:none;"> Please fill in a valid value for all required fields </div>
  		  <div id="resumeConfirm" style="display:none;"> Are you sure you want to leave this form and resume later? </div>
 		 <div id="fileTypeAlert" style="display:none;"> You must upload one of the following file types for the selected field: </div>
 		 <div id="embedError" style="display:none;"> There was an error displaying the form. Please copy and paste the embed code again. </div>
      </div>
    </div>
  </div>
</div>
<div id="footer">&copy;2010 BlogNog Research &amp; Accelerant Research. All Rights Reserved.</div>
</body>
</html>
